# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SPRING_DATA\_2020_03_29_EXAM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
